<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/build.css">
  <style>
    .container-group{
     margin-right:"150px";
     float: right;
    }
  </style>
</head>
<body>
  <div
  class="bg-cover bg-center"
  style="background-image: url('/img/background.jpg'); height: 500px">
  <div class="overlay">
    <div class="container-group mt-20 mr-20">
      <h1 class="">Introduction to my blog post about foods</h1>
      <p>eu aliquip occaecat adipiscing eiusmod ut ullamco adipiscing pariatur</p>
      <div>
       <button style="border: 1px solid black;">type me</button>
       <button style="border: 1px solid black;">show random</button>
      </div>
     
    </div>
  </div>
</div>
<section>
  <h1>latest recipes</h1>
  <div class="grid grid-rows-6 grid-flow-col gap-4 mt-10">
    <div><img src="/img/background.jpg"/>New recipe</div>
    <div><img src="/img/background.jpg"/>New recipe</div>
    <div><img src="/img/background.jpg"/>New recipe</div>
    <div><img src="/img/background.jpg"/>New recipe</div>
    <div><img src="/img/background.jpg"/>New recipe</div>
    <div><img src="/img/background.jpg"/>New recipe</div>
    <div><img src="/img/background.jpg"/>New recipe</div>
    <div><img src="/img/background.jpg"/>New recipe</div>
    <div><img src="/img/background.jpg"/>New recipe</div>
  </div>
</section>
</body>
</html>